@using Microsoft.AspNetCore.Mvc.Localization
@model ThesisProject.ViewModels.CourseViewModel
@inject IViewLocalizer Localizer

<link href="~/css/site.css" rel="stylesheet" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<h1 style="font-weight: bold">@Localizer[Model.Name.ToString()]</h1>

@* TODO: Add colors and buttons for modules *@
<nav class="progress-nav">
    @foreach (var module in Model.Modules)
    {
        if (module.Status == "TODO")
        {
            <button class="btn btn-danger disabled">@module.Name</button>
        }
        else if (module.Status == "In progress")
        {
            <button class="btn btn-warning active">@module.Name</button>
        }
        else
        {
            <button class="btn btn-success disabled">@module.Name</button>
        }
    }
</nav>

<br />

<div id="wrapper" style="overflow: hidden">
    <div id="accordion" style="float: left">
        @foreach (var module in Model.Modules)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <a href="#@module.Id" data-toggle="collapse" data-parent="#accordion">
                            @Localizer[module.Name.ToString()]
                        </a>
                    </h4>
                </div>
                <div id="@module.Id" class="panel-collapse collapse">

                    <div class="panel-body">

                        <div id="accordionSec">
                            @{
                                string sectionType = "";
                                string param = "";

                                for (int i = 0; i < 3; i++)
                                {
                                    switch (i)
                                    {
                                        case 0:
                                            sectionType = "Module.Facts";
                                            param = "facts";
                                            break;
                                        case 1:
                                            sectionType = "Module.Exercises";
                                            param = "exercises";
                                            break;
                                        case 2:
                                            sectionType = "Module.Exams";
                                            param = "exams";
                                            break;
                                        default:
                                            break;
                                    }

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a href="#@i" data-toggle="collapse" data-parent="accordionSec">@Localizer[sectionType]</a>
                                        </div>
                                        <div id="@i" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @if (i == 0)
                                                {
                                                    @foreach (var f in module.Facts.ToList())
                                                    {
                                                        <h6><a onclick="openModuleDetails(@f.Id, 'facts')">@f.Name</a></h6>
                                                    }

                                                }
                                                else if (i == 1)
                                                {
                                                    @foreach (var e in module.ExerciseFile.ToList())
                                                    {
                                                        <h6><a onclick="openModuleDetails(@e.Id, 'exercises')">@e.Name</a></h6>
                                                    }
                                                }
                                                else if (i == 2)
                                                {
                                                    @foreach (var e in module.ExamFile.ToList())
                                                    {
                                                        <h6><a onclick="openModuleDetails(@e.Id, 'exams')">@e.Name</a></h6>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        </div>

                    </div>

                </div>
            </div>
        }
    </div>

    <div id="currentModule" style="float: right">

    </div>
</div>


@* TODO: object as in param, not id *@
<script>

    function openModuleDetails(id, type) {

        var element = document.getElementById("currentModule");

        //var content = content;
        var id = id;
        var type = type;
        var sendData = { id: id, type: type}

        $.ajax({
            type: "POST",
            url: "@Url.Action("Details", "Modules")",
            data: sendData,
            success: function (data) {
                 element.innerHTML = data
            },
            traditional: true
        });
    }
</script>
