@using Microsoft.AspNetCore.Mvc.Localization
@model ThesisProject.ViewModels.IndexViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Start";
}
<br />

@*<img src="@Url.Action( "DisplayImage", "Modules" )" width="700" height="400" />*@

<h2>@Localizer["StartPage.Information.Header"]</h2>

<div style="width: 400px">

    <h4>@Localizer["StartPage.Information.Header.Facts"]</h4>
    <p>@Localizer["StartPage.Information.Facts.Parapragh"]</p>

    <h4>@Localizer["StartPage.Information.Header.Exercises"]</h4>
    <p>@Localizer["StartPage.Information.Exercises.Parapragh"]</p>


    <h4>@Localizer["StartPage.Information.Header.Tests"]</h4>
    <p>@Localizer["StartPage.Information.Tests.Parapragh"]</p>
</div>

