@using Microsoft.AspNetCore.Mvc.Localization
@*@model ThesisProject.ViewModels.IndexViewModel*@
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Start";
}
<br />


<h1>@Localizer["StartPage.Information.Header"]</h1>

<div style="width: 800px">

    <h4>@Localizer["StartPage.Information.Header.Facts"]</h4>
    <p>@Localizer["StartPage.Information.Facts.Parapragh"]</p>

    <h4>@Localizer["StartPage.Information.Header.Exercises"]</h4>
    <p>@Localizer["StartPage.Information.Exercises.Parapragh"]</p>


    <h4>@Localizer["StartPage.Information.Header.Tests"]</h4>
    <p>@Localizer["StartPage.Information.Tests.Parapragh"]</p>
</div>
<div style="height: 80px">

</div>
