@using Microsoft.AspNetCore.Mvc.Localization
@model ThesisProject.ViewModels.CourseViewModel
@inject IViewLocalizer Localizer

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<h1>@Localizer[Model.Name.ToString()]</h1>

<div id="moduleWrapper" style="overflow: hidden">
    <div id="accordion" style="float: left">
        @foreach (var module in Model.ModulesVM)
        {
            <div class="card ">
                <div class="card-header" id="@("heading" + module.Id)">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@("collapse" + module.Id)" aria-expanded="true" aria-controls="@("collapse" + module.Id)">
                            @Localizer["Txt.Module"]: @Localizer[module.Name.ToString()]
                        </button>
                    </h6>
                </div>

                <div id="@("collapse" + module.Id)" class="collapse" aria-labelledby="@("heading" + module.Id)" data-parent="#accordion">
                    <div class="card-body">

                        <div id="card-sections">

                            <div class="card">
                                <div class="card-header">
                                    <h6>@Localizer["Module.Facts"]</h6>
                                </div>

                                @foreach (var facts in module.Facts)
                                {
                                    <p class="mb-0">
                                        <button class="btn btn-link" onclick="openModuleDetails(@facts.Id, 'facts')">
                                            @Localizer[facts.Name.ToString()]
                                        </button>
                                    </p>
                                }
                            </div>
                            <br />

                            <div class="card">
                                <div class="card-header">
                                    <h6>@Localizer["Module.Exercises"]</h6>
                                </div>

                                @foreach (var exercise in module.Exercises)
                                {
                                    <p class="mb-0">
                                        <button class="btn btn-link" onclick="openModuleDetails(@exercise.Id, 'exercises')">
                                            @*@exercise.Name*@
                                            @Localizer[exercise.Name.ToString()]
                                        </button>
                                    </p>
                                }
                            </div>
                            <br />

                            <div class="card">
                                <div class="card-header">
                                    <h6>@Localizer["Module.Exams"]</h6>
                                </div>

                                @foreach (var exam in module.Exams)
                                {
                                    <p class="mb-0">
                                        <button class="btn btn-link" onclick="openModuleDetails(@exam.Id, 'exams')">
                                            @Localizer[exam.Name.ToString()]
                                        </button>
                                    </p>
                                }
                            </div>
                            <br />

                            <div class="card">
                                <div class="card-header">
                                    <h6>@Localizer["Module.Images"]</h6>
                                </div>

                                @foreach (var image in module.Images)
                                {
                                    <p class="mb-0">
                                        <button class="btn btn-link" onclick="openModuleDetails(@image.Id, 'image')">
                                            @Localizer[image.Name.ToString()]
                                        </button>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>

    <div id="currentModule">

        <embed class="facts-details-container" src="@Url.Action( "BrowsePdf", "Modules", new { fileId = 1, pdfType = "facts" } )" width="700" height="400" />
    </div>
    <br />
</div>

<script>

    function openModuleDetails(id, type) {

        var element = document.getElementById("currentModule");

        //var content = content;
        var id = id;
        var type = type;
        var sendData = { id: id, type: type}

        $.ajax({
            type: "POST",
            url: "@Url.Action("Details", "Modules")",
            data: sendData,
            success: function (data) {
                 element.innerHTML = data
            },
            traditional: true
        });
    }
</script>