@model ThesisProject.ViewModels.ModuleViewModel

<h2 style="font-weight: bold">@Model.Name</h2>
<h4 style="font-weight: bold">Exams: </h4>

@foreach (var exam in Model.Exams)
{
    <h4>
        <a asp-controller="Modules"
           asp-action="BrowsePdf"
           asp-route-pdfType="exams"
           asp-route-fileId="@exam.Id">@exam.Name</a>
    </h4>

    <a asp-controller="Modules"
       asp-action="Download"
       asp-route-fileId="@exam.Id"
       asp-route-pdfType="exams"
       asp-route-fileName="@exam.Name">Download</a>

    <br />
    <br />
}