@model ThesisProject.ViewModels.ModuleViewModel

@* TODO: Fixa fileId och facts så de inte är hårdkodade *@
<embed src="@Url.Action( "BrowsePdf", "Modules", new { fileId = 1, pdfType = "facts" } )" width="700" height="400" />

@*@foreach (var facts in Model.Facts)
{
    <h4>
        <a asp-controller="Modules"
           asp-action="BrowsePdf"
           asp-route-pdfType="facts"
           asp-route-fileId="@facts.Id">@facts.Name</a>
    </h4>

    <a asp-controller="Modules"
       asp-action="Download"
       asp-route-fileId="@facts.Id"
       asp-route-pdfType="facts"
       asp-route-fileName="@facts.Name">Download</a>

    <br />
    <br />
}*@
